server:
  port: ${YIELD_SERVICE_PORT:8101}

spring:
  application:
    name: yield-service
  datasource:
    url: ${YIELD_DB_URL:jdbc:postgresql://localhost:5432/farmer_assistance}
    username: ${YIELD_DB_USERNAME:postgres}
    password: ${YIELD_DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 2
      minimum-idle: 1
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}
logging:
  level:
    com.farmer.yield: INFO
